// COLORS
html {
   --color-background: #f2ece0;
  --color-Primary: #405266;
  --color-Primary-light: #5B7592;
  --color-brown-light: #e6d1a6;
  --color-brown: #a08c55;
//   --color-brown-light: #cd5c45;
   --color-black: #2b2d2e;
   --color-white: white;
}