html {
  --color-background: #f2ece0;
  --color-background-light: #e6d1a6;
  --color-Primary: #a08c55;

  --color-white: white;
  --color-black: #2b2d2e;
  //     --color-brown-light: #e6d1a6;
  //       --color-brown: #a08c55;
  // //   --color-brown-light: #cd5c45;
}
